#top {
    border-bottom: black solid 1px;
    display: flex;
    width: 1024px;
    margin: 0 auto;
}

#welcome {
    width: 800px;
    text-align: center;
    margin: auto;
}

#admin {
    width: 224px;
    text-align: center;
    border-left: grey solid 1px;
}

#loginForm {
    text-align: left;
    margin: 5px 0 5px 5px;
}

#login {
    width: 200px;
}

#password {
    width: 200px;
}

#content {
    width: 1024px;
    margin: 0 auto;
}

#intAdm {
    position: absolute;
    width: 1024px;
}

details {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 0 0 .4em 0;
    width: 1000px;
}

details {
    margin: 10px 0 10px 10px;
    cursor: pointer;
}

summary {
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
    background: -webkit-linear-gradient(top, #f3f3f3 50%, #e6e6e6 50%);
}

TABLE {
    border-collapse: collapse;
    width: 100%;
}

TH, TD {
    text-align: left;
    padding: 4px;
}

TH {
    background: rgba(0, 0, 0, 0.15);
    vertical-align: bottom;
    padding: 0;
}

.left {
    width: 250px;
}

#topMenu {
    position: relative;
    top: 30px;
}

details {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 0 0 .4em 0;
    padding: 1.04%;
}

details {
    cursor: pointer;
}

summary {
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
    background: -webkit-linear-gradient(top, #f3f3f3 50%, #e6e6e6 50%);
}

#userContent {
    top: 60px;
    position: relative;
}

#questionForm {
    width: 100%;
    position: relative;
    top: 40px;
}

#Q {
    font-style: italic;
    font-size: 20px;
    text-align: justify;
}

#A {
    font-size: 16px;
    text-align: justify;
    border: none;
    border-top: rgba(0, 0, 0, 0.08) solid 1px;
}

#whoQA {
    font-style: oblique;
    font-size: 14px;
    text-align: right;
    border: none;
}

#QA {
    border: #cccccc solid 1px;
    width: 100%;
}

#infoQuestions {
    font-style: oblique;
    font-size: 14px;
    text-align: left;
    border: none;
}

#addTheme {
    position: relative;
    margin: auto;
    top: 60px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

#deleteTheme {
    text-align: right;
    margin-bottom: 0px;
}

.labels tr td {
    background-color: rgba(9, 10, 11, 0.13);
    font-weight: bold;
    color: #000;
}
.label tr td label {
    display: block;
}
[data-toggle="toggle"] {
    display: none;
}