<form id="loginForm" method="POST" style="text-align: left;">
    <input id="login" type="text" name="login" placeholder="Логин" />
    <input id="password" type="password" name="password" placeholder="Пароль" />
    <input id="enter" type="submit" name="signIn" value="Вход" />
    {{ errorLogin }}
</form>
