
<form id="loginForm" style="text-align: left;">
    <p>Вы вошли как {{ session.login }}</p>
<input id="exit" type="button" value="Выход" onclick="javascript:window.location='../diplom/logout.php'"/>
</form>