<link rel="stylesheet" href="../diplom/css/style.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../diplom/js/app.js"></script>
<div id = 'top'>
    <div id = 'welcome'>
        <h3>
            Добро пожаловать в сервис Вопрос - Ответ!
        </h3>
    </div>
    <div id = 'admin'>
        <span class = 'admin'>Уголок Администратора</span><br>
        {% if session.login is empty %}
            {% include 'login.twig' %}
        {% else %}
            {% include 'logined.twig' %}
        {% endif %}
    </div>
</div>

<div id = 'content'>
    {% if session.login is empty %}
        {% include 'mainUser.twig' %}
    {% else %}
        {% include 'mainAdmin.twig' %}
    {% endif %}
</div>