<div>
    <div id = 'intAdm'>
        Интерфейс администратора
    </div>
</div>
<div id = 'topMenu'>
    <div class="top">
        <a href="index.php?menu=admins" class="link">Список администраторов</a> /
        <a href="index.php?menu=themes" class="link">Список вопросов</a> /
        <a href="index.php?menu=answer" class="link">На это надо ответить!</a>
    </div>
</div>
<div>
    <div>
        {% if get.menu == 'admins' or post.editPass or post.add or post.delete  %}
            {% include 'admins.twig' %}
        {% elseif get.menu == 'themes' %}
            {% include 'questions.twig' %}
        {% elseif get.menu == 'answer' %}
            {% include 'answer.twig' %}
        {% endif %}
    </div>
</div>

